<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Service</h2>
                <hr class="light">
                <p class="text-faded">康帅丁咨询 具备长时间的时间积累，丰富的人脉资源、成熟的沟通技巧，都可以在最短的时间内，为您物色最匹配的人选，从宇宙外星生命到米国政坛领军人选，都能在最短的时间内安排妥当，咨询服务认准康帅丁。注：此条泡泡糖服务-根据肺活量想吹多大就吹多大。</p>
                <a href="#" class="btn btn-default btn-xl">欢迎您的加入</a>
            </div>
        </div>
    </div>
</section>
