<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">我们的服务</h2>
                <hr class="light">
                <p class="text-faded">砼浩咨询充分并深入的了解客户的需求，并一切以客户为导向，力争提供专业、高效的招聘服务，“在最短的时间内解决客户的招聘难题”将是我们一致的服务理念，为职业经理人提供系统专业的职业规划和行业咨询，从而真正的达到客户-候选人-砼浩咨询的三赢局面。</p>
                <a href="#" class="btn btn-default btn-xl">欢迎您的加入</a>
            </div>
        </div>
    </div>
</section>
