<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>请快速联系我们吧</p>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <!a href="mailto:{{ th_consulting@163.com }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>th_consulting@163.com</p>
            </a>
        </div>
		
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <!-<a href="https://github.com/{{ liguangzong }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p> 联系方式：177-1730-5230 </p>
            </a>
        </div>

    </div>
</section>
