<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>上海砼浩企业管理咨询有限公司</h1>
            <hr>
            <p>砼（tóng），混凝土，是为我们起步的业务起步的领域：房地产、建筑工程领域人力资源咨询；浩（hào），水势大，标志着我们正在多行业经营。上海砼浩企业管理咨询有限公司创建于2010年创建于上海，前身是砼建人力资源有限公司，深耕于房地产、建筑工程领域。随着业务的夸大，2017年年初，我们在巩固自身房地产、建筑工程领域人力资源业务优势的同时，相继加入互联网、医药、快消、金融、物流等多个行业模块，更名为“上海砼浩企业管理咨询有限公司”，进入企业发展的新纪元。我们目前的核心业务主要集中在高管招聘，专业人才招聘等领域，同时，为了满足国内客户日益增加的需求，我们也提供更多种类的综合人才解决方案，这涵盖了各种途径的人才招聘，到中后期的人才管理和开发以及留用。</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
